html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
}

.App header {
  padding: 1rem;
  background-color: #121212;
  color: #efefef;
}

.App main {
  padding: 1rem;
}
